*{
    padding:0;
    margin:0;
    text-decoration:none;
}

.header{
    background-color:#6C63FF;
    color:#FFFF;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1rem;
}

.main-block{
    display: flex;
    justify-content:center;
}

.main-content{
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:8px;
}

.video{
    padding:1rem;
}

.content{
    padding:1rem;
    margin: 0 auto;
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.content img{
    width:300px;
    align-items:center;
    display:flex;
    justify-content:center;
}

.content p{
    text-align:left;
    width: 500px;
}

.content h2{
    text-align:center;
}

.footer{
    background-color: #6C63FF;
    flex-direction: column;
    justify-content: flex-end;
}
