*{
    padding:0;
    margin:0;
    text-decoration:none;
}

.header{
    background-color:#6C63FF;
    color:#FFFF;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1rem;
}

.main-content{
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:8px;
}

.video{
    padding:1rem;
}